<div class="container">
  <div class="container text-center" style="margin: 30px">
    <h3>Agregar Actividad</h3>
  </div>

  <form (ngSubmit)="onSubmit()">
    <table class="table table-hover">
      <thead class="table-secondary">
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Nombre</th>
          <th scope="col">Unidad</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio Unitario</th>

          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input
              type="text"
              id="codigo"
              name="codigo"
              required="true"
              [(ngModel)]="actividad.codigo"
              class="form-control"
              placeholder="ABC01"
              size="5"
            />
          </td>
          <td>
            <input
              type="text"
              id="nombre"
              name="nombre"
              required="true"
              [(ngModel)]="actividad.nombre"
              class="form-control"
              placeholder="nombre"
              size="50"
            />
          </td>
          <td>
            <select
            class="form-select"
              id="unidad"
              name="unidad"
              required="true"
              [(ngModel)]="actividad.unidad"
              class="form-control"
              value="ML">
              <option value="M">M</option>
              <option selected>ML</option>
              <option value="M²">M²</option>
              <option value="M³">M³</option>
              <script>
                // Establecer el valor predeterminado dinámicamente
                document.getElementById('unidad').value = "M"; // Selecciona "Opción 2"
              </script>
            </select>
          </td>
          <td>
            <input
              type="number"
              id="cantidad"
              name="cantidad"
              required="true"
              [(ngModel)]="actividad.cantidad"
              class="form-control"
              placeholder="1"
              value="1"
              maxlength="5">
          </td>
          <td>
            <input
              type="number"
              id="precioUnitario"
              name="precioUnitario"
              required="true"
              [(ngModel)]="actividad.precio_unitario"
              class="form-control"
              placeholder="1000"
              size="5"
            />
          </td>

          <td><button type="submit" class="btn btn-primary">+</button></td>
        </tr>
      </tbody>
    </table>
  </form>

  <div class="text-center">
    <a href="/" class="btn btn-danger float-rigth">Regresar</a>
  </div>
</div>
