
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: teal">
  <div class="container-fluid">
    <!-- Brand/Logo -->
    <a class="navbar-brand" routerLink="">
      <img src="../assets/klv.png" alt="" class="logo"> Análisis PU
    </a>
    

    <!-- Botón de Toggle para dispositivos móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú de Navegación -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Elementos del Menú -->
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="admin/actividades">Lista Actividades</a></li>
            <li><a class="dropdown-item" routerLink="admin/elementos">Lista Elementos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="admin/agregar-actividad">+Actividad</a></li>
            <li><a class="dropdown-item" routerLink="admin/agregar-elemento">+Elementos</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <router-outlet></router-outlet>
  
</div>