<div class="container">
  <div class="container text-center" style="margin: 20px">
    <h3>Detalle de la Actividad</h3>
  </div>

  <table class="table table-hover">
    <thead class="table-secondary">
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Unidad</th>
        
        <th scope="col">Precio Unitario</th>
        <th scope="col">Precio Total</th>
        <th scope="col">Agregar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ actividad.codigo }}</td>
        <td>{{ actividad.nombre }}</td>
        <td>{{ actividad.unidad }}</td>
        
        <td>{{ actividad.precioUnitario }}</td>
        <td>{{ actividad.precioTotal }}</td>
        <td>
          <button type="button" class="btn btn-primary" 
          (click)="openDialog(actividad.idActividad)">
            +
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <p class="h5">Elementos:</p>
        </td>


      </tr>
      <tr *ngFor="let elemento of actividad.elementos">
        <td>{{ elemento.codigo }}</td>
        <td>{{ elemento.nombre }}</td>
        <td>{{ elemento.unidad }}</td>
        
        <td>{{ elemento.precioUnitario }}</td>
      </tr>
      <tr>
        <div class="text-end"></div>
      </tr>
    </tbody>
  </table>
  <div class="text-center mr-2" style="margin: 20px">
    <a href="/" class="btn btn-danger btn-sm">Volver</a>
    <a href="/apu-editar/{{ actividad.idActividad }}" class="btn btn-primary btn-sm">Siguiente</a>
  </div>
</div>