<<div *ngIf="actividadElementos.length > 0; else noData">
  <table>
    <thead>
      <tr>
        <th>Actividad ID</th>
        <th>Elemento ID</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of actividadElementos">
        <td>{{ item.actividad_id }}</td>
        <td>{{ item.elemento_id }}</td>
        <td>{{ item.cantidad }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noData>
  <p>No hay registros en la tabla actividad_elemento.</p>
</ng-template>