<!-- <div *ngIf="actividadElementos.length > 0; else noData">
  <table>
    <thead>
      <tr>
        <th>Actividad ID</th>
        <th>Elemento ID</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of actividadElementos">
        <td>{{ item.actividad_id }}</td>
        <td>{{ item.elemento_id }}</td>
        <td>{{ item.cantidad }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noData>
  <p>No hay registros en la tabla actividad_elemento.</p>
</ng-template> -->


<div class="container">
  <div class="container text-center" style="margin: 20px">
    <h3>Actividades con PU</h3>
    <div class="text-end">
      <button class="btn btn-success" type="button" (click)="exportToExcel()">
        Exportar a Excel
      </button>
    </div>
  </div>

  <div *ngIf="actividadesConElementos.length > 0; else noData"></div>
      <table class="table table-hover">
        <thead class="table-secondary">
          <tr>
            <th scope="col"></th>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Unidad</th>
           
            <th scope="col">Precio Unitario</th>
            
          </tr>
        </thead>
        <tbody>
          
          <ng-container *ngFor="let actividad of actividadesConElementos; let i = index">
            <!-- Fila de actividad -->
            <tr>
              <td>
                <button class="btn btn-sm btn-outline-primary" type="button" [attr.data-bs-target]="'#elementos-' + i"
                  data-bs-toggle="collapse">
                  <i class="bi bi-chevron-down"></i>
                </button>
              </td>
              <td>{{ actividad.codigo }}</td>
              <td>{{ actividad.nombre }}</td>
              <td>{{ actividad.unidad }}</td>
              
              <td>{{ actividad.precioUnitario }}</td>
              
            </tr>
            <!-- Fila de elementos colapsable -->
            <tr>
              <td colspan="7" class="p-0">
                <div class="collapse" [id]="'elementos-' + i">
                  <table class="table table-sm table-bordered m-0">
                    <tbody>
                      <tr *ngFor="let elemento of actividad.elementos">
                        <td>{{ elemento.codigo }}</td>
                        <td>{{ elemento.nombre }}</td>
                        <td>{{ elemento.unidad }}</td>
                        
                        <td>{{ elemento.precioUnitario }}</td>
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>

  <div class="text-center mr-2" style="margin: 10px">
    <a href="/" class="btn btn-danger btn-sm mr-2">Volver</a>
    <a href="/" class="btn btn-primary btn-sm mr-2">Finalizar</a>
  </div>
</div>
<ng-template #noData>
  <p>No hay actividades con elementos asociados.</p>
</ng-template>