<div class="container">
  <div class="container text-center" style="margin: 20px">
    <h3>Detalle de la Actividad</h3>
  </div>
  <div *ngIf="actividad; else noData">
    <table class="table table-hover">
      <thead class="table-secondary">
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Nombre</th>
          <th scope="col">Unidad</th>
          <th scope="col">Precio Unitario</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ actividad.codigo }}</td>
          <td>{{ actividad.nombre }}</td>
          <td>{{ actividad.unidad }}</td>
          <td>{{ actividad.precio_unitario |currency }}</td>
          <td>
            <!-- Botón para mostrar/ocultar la sección de "asignar elemento" -->
            <button (click)="toggleAsignarElemento()">
              {{ mostrarAsignarElemento ? "Ocultar" : "Asignar" }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Tabla de elementos asignados -->
  <div class="seccion-asignados">
    <h3>Elementos asignados</h3>
    <div class="tabla-con-scroll">
      <table *ngIf="elementosAsignados.length > 0; else sinAsignados">
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Unidad</th>
            <th>Precio Unitario</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let elemento of elementosAsignados">
            <td>{{elemento.codigo}}</td>
            <td>{{ elemento.nombre }}</td>
            <td>{{ elemento.unidad }}</td>
            <td>{{ elemento.precio_unitario | currency }}</td>
            <td>
              <button (click)="desasignarElemento(elemento.id!)">Quitar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #sinAsignados>
        <p>No hay elementos asignados a esta actividad</p>
      </ng-template>
    </div>
  </div>

  <!-- Tabla de elementos disponibles -->
  <div *ngIf="mostrarAsignarElemento" class="seccion-disponibles">
    <h3>Listado de Elementos</h3>
    <div class="container text-end" style="margin: 10px">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar..." />
    </div>
    <div class="tabla-con-scroll">
      <table *ngIf="elementos.length > 0; else sinDisponibles">
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Unidad</th>
            <th>Precio Unitario</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let elemento of filteredData()">
            <td>{{elemento.codigo}}</td>
            <td>{{ elemento.nombre }}</td>
            <td>{{elemento.unidad}}</td>
            <td>{{ elemento.precio_unitario | currency }}</td>
            <td>
              <button (click)="asignarElemento(elemento)">Asignar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #sinDisponibles>
        <p>No hay elementos disponibles para asignar</p>
      </ng-template>
    </div>
  </div>
</div>
<br>
<br>

<ng-template #noData>
  <p>No se encontró la actividad.</p>
</ng-template>
<div class="text-center mr-2" style="margin: 20px">
  <a href="/" class="btn btn-danger btn-sm">Volver</a>
  <a href="/admin/resumen" class="btn btn-primary btn-sm">Siguiente</a>
</div>
<br>
<br>
<br>
<br>
<!-- <a routerLink="/admin/actividades">Volver</a>
 -->