<div class="container">
  <div class="container text-center" style="margin: 30px">
    <h3>Agregar Elemento</h3>
  </div>

  <form (ngSubmit)="onSubmit()">
    <table class="table table-hover">
      <thead class="table-secondary">
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Nombre</th>
          <th scope="col">Unidad</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio Unitario</th>
          <th scope="col">Agregar</th>

         
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input
              type="text"
              id="codigo"
              name="codigo"
              required="true"
              [(ngModel)]="elemento.codigo"
              class="form-control"
              placeholder="ABC01"
              size="5"
            />
          </td>
          <td>
            <input
              type="text"
              id="nombre"
              name="nombre"
              required="true"
              [(ngModel)]="elemento.nombre"
              class="form-control"
              placeholder="nombre"
              size="50"
            />
          </td>
          <td>
            <select
              id="unidad"
              name="unidad"
              required="true"
              [(ngModel)]="elemento.unidad"
              class="form-control"
            >
             
            <option value="CM">CM</option>
            <option value="M">M</option>
            <option value="ML">ML</option>
            <option value="M²">M²</option>
            <option value="M³">M³</option>
            <option value="Dia">Dia</option>
            <option value="Semana">Semana</option>
            <option value="Mes">Mes</option>
            <option value="Kg">Kg</option>
            <option value="G">G</option>
            <option value="L">L</option>
            <option value="unidad" selected>unidad</option>  
              
            </select>
          </td>
          <td>
            <input
              type="number"
              id="cantidad"
              name="cantidad"
              required="true"
              [(ngModel)]="elemento.cantidad"
              class="form-control"
              placeholder="1"
              size="3"
            />
          </td>
          <td>
            <input
              type="number"
              id="precioUnitario"
              name="precioUnitario"
              required="true"
              [(ngModel)]="elemento.precio_unitario"
              class="form-control"
              placeholder="1000"
              size="5"
            />
          </td>

          <td><button type="submit" class="btn btn-primary">+</button></td>
        </tr>
      </tbody>
    </table>
  </form>

  <div class="text-center">
    <a href="/" class="btn btn-danger float-rigth">Regresar</a>
  </div>
</div>
